.menu-more-items {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;


  button{
    background-color: rgb(243, 237, 237);
    text-align: center;
    padding: 12px 12px;
  }

  &.open {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
  }
}