.wrapper-page {
    display: flex;
    flex-direction: row;
    gap: 25px;
    box-sizing: content-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    border-top: 1px wheat solid;
    padding: 0 12px;
    margin: 0 24px;

    p {
        margin: 24px 0;
        font-weight: 600;
    }
}

.name-page {
    text-align: center;
    margin: 12px 12px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background: linear-gradient(90deg,
            red,
            orange,
            yellow,
            green,
            cyan,
            blue,
            violet,
            red);
    user-select: none;
    background-size: 400%;
    text-shadow: 0 0 12px rgb(253, 247, 247);
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientMove 5s linear infinite;
}

.input-page {
    text-align: center;
    margin: 12px 12px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    user-select: none;
}

.input-submit {
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 100%;
    flex: 1;
}


label {
    font-weight: 600;
    font-size: 18px
}

.input-layout {
    width: 100%;
    box-shadow: 0 0 12px rgb(185, 183, 179);
    height: 32px;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 4px 4px;
    transition: linear 0.5s;

    &:focus {
        background-color: rgba(94, 255, 1, 0.1);
        transform: translateX(-2px);
        transform: translateY(+2px);
    }
}

.btn-submit {
    margin-top: 10px;
    padding: 12px 24px;
    border: 1px solid #16a34a;
    border-radius: 9999px;
    background: linear-gradient(145deg, #f0fff0, #d1f7d1);
    color: #166534;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
        background: linear-gradient(145deg, #b9ff66, #9ef01a);
        color: #222;
        border-color: #28a745;
        box-shadow: 0 8px 20px rgba(0, 128, 0, 0.3);
        transform: translateY(-2px);
    }
}

.use {
    color: var(--primary);
}

.phan-tram {
    color: var(--good);
}




@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}