.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 12px 12px;
}

.wrapper-content {
    display: flex;
    margin: 12px 12px;
    color: rgb(175, 49, 49);
    width: 100%;

    >span {
        text-align: center;
        font-weight: 500;
        line-height: 1.2;
    }

    >span:nth-child(1) {
        flex-basis: 40%;
        text-align: left;
        font-size: 1.1em;
        font-weight: 700;
        text-align: start;
        color: green;

        svg {
            margin-right: 5px;
            color: #f02828;
        }
    }

    >span:nth-child(2) {
        font-weight: 1000;
        flex-basis: 30%;
        text-align: center;
        font-size: 1.1em;
        color: #7a0303;
        text-align: center;
    }

    >span:nth-child(3) {
        text-align: end;
        flex-basis: 30%;
        text-align: right;
        font-size: 1.1em;
        font-weight: 700;
        color: black;
    }

}