.wrapper {
    position: fixed;
    z-index: 1000;
    width: 30%;
    height: 340px;
    align-items: center;
    margin-left: 26%;
    border-radius: 10px;
    background-color: rgba(236, 233, 232, 0.9);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);

    opacity: 0;
    transform: scale(0.9);
    animation: fadeIn 0.3s forwards;


    p {
        color: red;
        user-select: none;
        font-style: italic;
    }

    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
        padding-bottom: 23px;
        border-radius: 10px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6);
        border-bottom: 3px solid rgb(211, 203, 188);
    }

    button {
        margin-top: 10px;
        border-radius: 6000px;
        padding: 12px 12px;
        cursor: pointer;
        font-weight: 600;
        border: none;
        background-color: rgba(236, 233, 232, 0.9);

        &:hover {
            color: red;
            transition: linear 0.3s;
        }
    }


}

.input-layout {
    width: 100%;
    box-shadow: 0 0 12px rgb(185, 183, 179);
    height: 32px;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 4px 4px;
    transition: linear 0.5s;

    &:focus {
        background-color: rgba(94, 255, 1, 0.1);
        transform: translateX(-2px);
        transform: translateY(+2px);
    }
}

.input-content {
    width: 90%;
    margin: 24px 24px;
    padding-right: 23px;
    border-right: 2px solid rgb(14, 11, 7);

    button {
        margin-top: 10px;
        padding: 12px 24px;
        border: 1px solid #16a34a;
        border-radius: 9999px;
        background: linear-gradient(145deg, #f0fff0, #d1f7d1);
        color: #166534;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2);
        transition: all 0.3s ease;




        &:hover {
            background: linear-gradient(145deg, #b9ff66, #9ef01a);
            color: #222;
            border-color: #28a745;
            box-shadow: 0 8px 20px rgba(0, 128, 0, 0.3);
            transform: translateY(-2px);
        }
    }
}

.wrapper-input {
    display: flex;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}