*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    --default-layout-header-height: 58px;
    --primary: red;
    --good: green;
}


.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 100%;
    display: flex;
    margin-top: var(--default-layout-header-height);
}



.sidebar {
    width: 124px;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 2px solid rgba(201, 199, 199, 0.75);
    overflow-y: auto;
    flex-shrink: 0;
    background-color: rgba(207, 207, 207, 0.6);

    position: sticky;
    top: var(--default-layout-header-height);
    height: calc(100vh - var(--default-layout-header-height));
}

.content {
    position: relative;
    flex: 7;
    max-height: 1000px;
    background-color: rgba(160, 160, 160, 0.2);
    overflow-x: hidden;
    overflow-y: auto;
}