.wrapper {
    position: fixed;
    top: 100px; 
    right: 12px;
    width: 300px; 
    border-radius: 8px;
    padding: 16px;
    z-index: 2500;

    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(4px);

    .wrapper-select {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;

        p {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            padding: 6px 10px;
            background: #fff;
            border-radius: 4px;
            cursor: pointer;
            transition: 0.2s ease;

            &:hover {
                background-color: #f0e4c2;
            }
        }
    }

    .wrapper-input {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
            font-weight: 600;
        }

        input {
            padding: 6px 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            transition: 0.2s;

            &:focus {
                border-color: #a88552;
                box-shadow: 0 0 4px rgba(168, 133, 82, 0.4);
            }
        }
    }
}

.icon-back {
    font-size: 12px;
}

.loc-chi-tieu {
    position: fixed; 
    top: 58%; 
    left: 58%; 
    transform: translate(-50%, -50%);
    z-index: 3000; 
    border-radius: 12px;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto ;
}