.wrapper {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    background-color: #ccc6c6;
    width: 100%;
    max-width: 800px;
    margin: 24px auto;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;

    .wrapper-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        border-radius: 8px;
        gap: 8px;
        min-height: 50px;
        flex-wrap: wrap;

        >span {
            flex: 1;
            text-align: center;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 4px 8px;
            border-radius: 4px;
            color: white;
        }
    }
}