.wrapper {
    width: 100%;
    height: 80%;
    padding: 24px 24px;
    display: block;
    align-content: center;
}

.wrapper-text-content {
    text-align: center;
    margin: 12px 0;
}

.wrapper-input {
    margin: 24px 24px;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 24px 24px;
    border-right: 1px solid wheat;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 50px;
}

.thong-bao {
    margin: 0px 24px;
    width: 100%;

    h1 {
        font-weight: 1000;
        margin-bottom: 24px;
    }

    h3 {
        margin: 12px 12px;
    }
}

.body-thong-bao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -24px;
}

.lich-su {
    margin-left: 3%;
    width: 97%;

    h1 {
        font-weight: 1000;
        margin-bottom: 24px;
        margin-top: 24px;
        padding-bottom: 24px;
        border-bottom: 3px solid wheat;
        margin-left: 6px;
    }
}

.text-lich-su {
    margin: 24px 24px;
    font-size: 16px;


    .text-inline-lich-su {
        border-bottom: 1px solid wheat;
        margin: 16px 0;
        font-weight: 600;
        color: rgb(139, 17, 17);
    }

    span {
        margin: 24px 12px;
        color: rgb(9, 12, 9);
        font-weight: 600;

    }
}


.content-warning {
    border-top: 3px solid wheat;
    display: flex;
}

.text-content {
    display: flex;
    flex-direction: column;

    span {
        margin: 0px 12px;
    }
}

.btn {
    margin-top: 10px;
    border: 1px solid green;
    border-radius: 6000px;
    padding: 12px 12px;
    cursor: pointer;
    font-weight: 600;

    &:hover {
        font-weight: 600;
        background-color: greenyellow;
        color: rgb(223, 13, 13);
        transition: linear 0.3s;
        border: 1px solid rgb(219, 13, 23);
    }
}