.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin: 12px
}


.wrapper-content {
    display: flex;
    flex-direction: row;
}

.warning {
    display: block;
    align-content: center;
    margin-left: 15%;
    font-weight: 600;
    color: red;
}