.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin: 12px
}


.wrapper-content {
    display: flex;
    flex-direction: row;
}
