.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 12px
}

.text-content{
    margin: 10px 24px;
    
    span{
        border-bottom: 1px solid wheat;
        color: green;
    }
}