.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 12px 12px,
}

.text-content {

    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    
    padding: 12px 12px;

    span {
        color: green;
    }
}