.btn {
    position: relative;   
    overflow: hidden;    
    border: none;
    border-bottom: 1px solid rgb(224, 208, 208);
    font-size: 15px;
    text-align: left;
    cursor: pointer;
    width: 100%;
    padding: 24px;
    background-color: white;
    transition: color 0.2s ease-in-out;
    z-index: 1;

    &:hover {
        color: white;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 105%;
        height: 100%;
        background-color: rgb(75, 74, 74);
        z-index: -1;
    }

    &:hover::after {
        animation: slide-bg 0.6s ease-in-out forwards;
    }
}

@keyframes slide-bg {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}
