.wrapper {
    display: flex;
    flex-direction: column;
    margin: 24px 24px;
    overflow: hidden;

    >h1 {
        margin: 0 24px;
    }
}

.wrapper-content {
    margin: 12px 12px;
    font-weight: 600;
    min-height: 100px;
    max-height: 160px;
    max-width: 500px;
    min-width: 500px;
    overflow-y: auto;
    border: 1x solid wheat;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow-x: hidden;

    p {
        margin: 12px 12px;
    }
}


.wrapper-content-bien-dong {
    border-top: 1px solid wheat;
    margin: 12px 0px;
    overflow-y: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    user-select: none;
    overflow-x: hidden;

    >div:nth-child(1) {
        >h1 {
            margin-left: 24px;
        }
    }

    >div:nth-child(2) {
        margin-left: 180px;

        >h1 {
            margin-left: 24px;
        }
    }
}

.primary {
    color: var(--primary);
}

.good {
    color: var(--good);
}

.none {
    font-weight: 100;

}

.margin-content {
    margin: 12px 12px;
}