.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--default-layout-header-height);
  background-color: rgba(1, 6, 36, 0.95);
  z-index: 1000;
  border: 1px solid rgb(173, 173, 173);

}

.avatar {
  display: flex;
  justify-content: space-between;
  width: 959, 2px;
  transform: translateY(-50%);
  align-items: center;
  align-content: center;
  text-align: center;


  >div:nth-child(1) {
    width: 400px;
    display: flex;
    flex-direction: row;
    font-size: 2.4rem;
    color: rgb(255, 254, 251);
    margin-top: 3.5%;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
  }
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar-img {
  width: 40px;
  border: 2px solid;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.avatar-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  margin-left: 640px;
  margin-top: 18px;
  position: fixed;
  min-width: 200px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  justify-content: end;
}

.dang-xuat-layout {
  margin-top: 12px;
  transition: all 0.25s ease;
  animation: fadeIn 0.25s ease forwards;
}

// avatar


.avatar-wrapper {
  position: relative;
  width: 100%;

}

.content-avatar {
  position: absolute;
  width: 600px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}