.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--default-layout-header-height);
  background-color: rgba(205, 221, 197, 0.75);
  z-index: 1000;
  border: 1px solid rgb(173, 173, 173);
}

.avatar {
  position: absolute;
  left: 80%;
  top: 30%;
  transform: translateY(-50%);
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar-img {
  width: 40px;
  border: 2px solid;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.avatar-name {
  position: fixed;
  min-width: 200px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}

.dang-xuat-layout {
  margin-top: 12px;
  transition: all 0.25s ease;
  animation: fadeIn 0.25s ease forwards;
}

// avatar
.avatar-wrapper {
  position: relative;
  width: 100%;
}

.content-avatar {
  position: absolute;
  min-width: 200px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}